@CHARSET "utf-8";

body, table, input, select, textarea {font-family:'ns','맑은 고딕','Malgun Gothic','NanumGothic','Dotum','돋움','gulim','굴림',Helvetica,sans-serif; font-size:13px; font-weight:normal; color:#666;}
td, div, p, li, dt, dd, input, textarea, select, h1, h2, h3, h4, h5 {font-weight:normal;}
input[type=text], input[type=file], input[type=password] {box-sizing:content-box; height:28px; padding:0 10px; margin:0; border:1px solid #c4c4c4; line-height:28px; background:#fff;}
input[type=password] {font-family:'sans-serif'}
input[type=radio] {width:16px; height:16px; padding:0; margin:-1px 0 0; border:0; vertical-align:middle; -webkit-appearance:none; -moz-appearance:none; appearance:none; background:url(/images/common/ico_radio.png) no-repeat 0 0;}
input[type=checkbox] {width:24px; height:22px; padding:0; margin:0; border:0; vertical-align:middle; -webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; appearance:none; background:url(/images/common/ico_check11.png) no-repeat 0 0;}
input[type=radio]:checked, input[type=checkbox]:checked {background-position-y:100%;}
button {display:visible; padding:0; margin:0; border:0; border-radius:0; vertical-align:middle; cursor:pointer; background:none;}
input:disabled {width:14px; border:1px solid #c4c4c4; background:none; background-color:#e0e0e0;}
label.disabled {color:#939393;}
input +label {margin-left:4px;}
select {height:30px; padding:0 35px 0 10px; margin:0; border:1px solid #c4c4c4; text-align:center; vertical-align:middle; -webkit-appearance:none; -moz-appearance:none; appearance:none; background:#fff url(/images/btn/btn_arrow.gif) no-repeat 100% 50%;}
select option {line-height:30px; vertical-align:middle;}
select::-ms-expand, input[type=radio]::-ms-expand, input[type=checkbox]::-ms-expand {display:none;}
textarea {border:1px solid #c4c4c4; padding:10px; margin:0; background:#fff; resize:none;}
textarea.placeholder {color:#888;}
em {font-style:normal;}
th {font-weight:normal;}
a:link		{color:#666; text-decoration:none;}
a:visited	{color:#666; text-decoration:none;}
a:hover 	{color:#59621d; text-decoration:none;}
a:focus 	{color:#59621d; text-decoration:none;}
a:active	{color:#666; text-decoration:none;}
::selection {background:#59621d;}
.scr {overflow-y:auto;}
.eng {font-family:'맑은 고딕','Malgun Gothic','NanumGothic','Dotum','돋움','gulim','굴림',Helvetica,sans-serif;}
.through {text-decoration:line-through;}
strong, b {font-family:'nsb';}

@font-face {
  font-family:'ns';
  font-weight:normal;
  src: url(/font/NanumSquareR.eot);
  src: local('Nanum Square Regular'),
       local('NanumSquareR'),
       url(/font/NanumSquareR.eot?#iefix) format('embedded-opentype'),
       url(/font/NanumSquareR.woff2) format('woff2'),
       url(/font/NanumSquareR.woff) format('woff'),
       url(/font/NanumSquareR.ttf) format('truetype');
}

@font-face {
  font-family:'nsb';
  font-weight:normal;
  src: url(/font/NanumSquareB.eot);
  src: local('Nanum Square Bold'),
       local('nsb'),
       url(/font/NanumSquareB.eot?#iefix) format('embedded-opentype'),
       url(/font/NanumSquareB.woff2) format('woff2'),
       url(/font/NanumSquareB.woff) format('woff'),
       url(/font/NanumSquareB.ttf) format('truetype');
}

@font-face {
  font-family:'nsl';
  font-weight:normal;
  src: url(/font/NanumSquareL.eot);
  src: local('Nanum Square Light'),
       local('NanumSquareL'),
       url(/font/NanumSquareL.eot?#iefix) format('embedded-opentype'),
        url(/font/NanumSquareL.woff2) format('woff2'),
       url(/font/NanumSquareL.woff) format('woff'),
       url(/font/NanumSquareL.ttf) format('truetype');
}

.transition {-webkit-transition:all 0.15s ease-in-out; -moz-transition:all 0.15s ease-in-out; -o-transition:all 0.15s ease-in-out; transition:all 0.15s ease-in-out;}
.none {width:100% !important; height:auto !important; min-height:1px !important; border:0 !important; padding:50px 0 !important; margin:0 !important; text-align:center;}
.desc	{position:absolute; left:0; top:-10000px; overflow:hidden; width:1px !important; height:1px !important; padding:0 !important; margin:0 !important; font-size:1px !important; line-height:1px !important;}
.bgLayer {display:none; position:fixed; left:0; top:0; z-index:100; width:100%; height:100%; background:#000; opacity:0.4; filter:alpha(opacity=40);}

@-webkit-keyframes mymove {
from {-webkit-transform:rotate(-5deg);}
to {-webkit-transform:rotate(5deg);}
}
@keyframes mymove {
from {transform:rotate(-5deg);}
to {transform:rotate(5deg);}
}
@-webkit-keyframes mymove2 {
from {-webkit-transform:rotate(-5deg);}
to {-webkit-transform:rotate(5deg);}
}
@keyframes mymove2 {
from {transform:rotate(-5deg);}
to {transform:rotate(5deg);}
}

.fontTypeA {color:#59621d !important;} /* 녹색->진녹색(카키) */
.fontTypeB {color:#332f21 !important;} /* 진한회색 */
.fontTypeC {color:#939393 !important;} /* 연한회색 */
.fontTypeD {color:#666 !important;} /* 기본 */
.fontTypeE {color:#09279f !important;} /* 파랑 */ 
.fontTypeF {color:#e67200 !important;} /* 오렌지 */ 
.fontTypeG {color:#a8ad00 !important;} /* 올리브 */

.tabTypeA {text-align:center;}
.tabTypeA li {display:inline-block; height:44px; margin:0 -3px 0 -2px; border:1px solid #d9d9d9; background:#f5f5f5;}
.tabTypeA li a {display:block; min-width:105px; padding:0 15px; line-height:44px; font-size:15px;}
.tabTypeA li.on {position:relative; border-color:#59621d; background-color:#59621d !important;}
.tabTypeA li.on a {color:#fff;}

.tabTypeB {overflow:hidden; height:43px; margin-top:80px; border-bottom:3px solid #59621d; background:#fff;}
.tabTypeB li {float:left; width:178px; height:42px; margin-right:3px; border:1px solid #d9d9d9; border-bottom:0; text-align:center; font-size:14px; line-height:41px;}
.tabTypeB li a {display:block; color:#828282;}
.tabTypeB li.on {border-color:#59621d; font-family:'nsb'; background:#59621d;}
.tabTypeB li.on a {color:#fff;}
.tabTypeB li.on a .fontTypeA {color:#fff !important;}
.tabTypeB.fix {position:fixed; left:50%; top:121px; z-index:1; width:1100px; margin-top:0; margin-left:-550px;}

.btnArea {margin-top:30px; text-align:center;}
#contArea .btnArea {margin-top:20px; text-align:right;}
.btnTypeA {display:inline-block; min-width:90px; height:30px; padding:0 10px; text-align:center; line-height:30px; color:#fff !important; font-size:13px; font-family:'nsb'; box-sizing:border-box; background:#817366;} /* 회색 */
.btnTypeB {display:inline-block; min-width:90px; height:30px; padding:0 10px; text-align:center; line-height:30px; color:#fff !important; font-size:13px; font-family:'nsb'; box-sizing:border-box; background:#59621d;} /* 녹색->진녹색(카키) */
.btnTypeC {display:inline-block; min-width:90px; height:30px; padding:0 10px; border:1px solid #c5bfb9; text-align:center; line-height:28px; color:#9c9792 !important; font-size:13px; font-family:'nsb'; box-sizing:border-box; background:#fff;} /* 회색라인 */
.btnTypeD {display:inline-block; min-width:90px; height:30px; padding:0 10px; text-align:center; line-height:30px; color:#fff !important; font-size:13px; font-family:'nsb'; box-sizing:border-box; background:#59621d;} /* 녹색->진녹색(카키) */
.btnTypeE {display:inline-block; min-width:90px; height:30px; padding:0 10px; text-align:center; line-height:30px; color:#fff !important; font-size:13px; font-family:'nsb'; box-sizing:border-box; background:#c4bfb9;} /* 회색 */
.btnTypeF {display:inline-block; min-width:90px; height:30px; padding:0 10px; text-align:center; line-height:30px; color:#fff !important; font-size:13px; font-family:'nsb'; box-sizing:border-box; background:#757575;} /* 진회색 */
.btnTypeG {display:inline-block; min-width:90px; height:30px; padding:0 10px; text-align:center; line-height:30px; color:#fff !important; font-size:13px; font-family:'nsb'; box-sizing:border-box; background:#a8ad00;} /* 연두 */
.btnTypeH {display:inline-block; min-width:90px; height:30px; padding:0 10px; text-align:center; line-height:30px; color:#fff !important; font-size:13px; font-family:'nsb'; box-sizing:border-box; background:#59621d;} /* 진녹색(카키) */
.sizeXL {min-width:180px; height:54px; padding:0; margin:0 1px; line-height:54px; font-size:20px;}
.btnTypeC.sizeXL {line-height:52px;}
.sizeL {min-width:150px; height:40px; padding:0 15px; line-height:40px; font-size:14px;}
.btnTypeC.sizeL {line-height:38px;}
.sizeS {min-width:80px; height:26px; padding:0 15px; line-height:26px; font-size:12px;}
.btnTypeC.sizeS {line-height:24px;}
.sizeXS {min-width:60px; height:20px; padding:0 8px; line-height:20px; font-size:11px;}
.btnTypeC.sizeXS {line-height:18px;}
.icoPrev {padding-right:25px;}
.icoPrev:before {content:""; display:inline-block; width:5px; height:9px; margin-right:9px; background:url(/images/common/ico_common.png) no-repeat -5px 0;}

.paging {margin-top:60px; text-align:center;}
.paging li {display:inline-block; margin:0 8px; vertical-align:middle; font-size:16px;}
.paging li strong {color:#59621d; font-family:'ns';}
.paging li.btnL2, .paging li.btnL, .paging li.btnR, .paging li.btnR2 {width:28px; height:28px; margin:0; line-height:28px;}
.paging li.btnL {margin:0 20px 0 -5px;}
.paging li.btnR {margin:0 -5px 0 20px;}
.paging li.btnL2 a, .paging li.btnL a, .paging li.btnR a, .paging li.btnR2 a {display:inline-block; overflow:hidden; width:28px; height:0; padding-top:28px;}
.paging li.btnL2 a {background:url(/images/btn/btn_pgPrev2.gif) no-repeat 50% 50%;}
.paging li.btnL a {background:url(/images/btn/btn_pgPrev.gif) no-repeat 50% 50%;}
.paging li.btnR a {background:url(/images/btn/btn_pgNext.gif) no-repeat 50% 50%;}
.paging li.btnR2 a {background:url(/images/btn/btn_pgNext2.gif) no-repeat 50% 50%;}

.sns li {display:inline-block;}
.sns li a {overflow:hidden; display:block; width:23px; height:0; padding-top:23px; background:url(/images/btn/btn_sns.png) no-repeat 0 0;}
.sns li.twitter a {background-position-x:-23px;}
.sns li.kakao a {background-position-x:-46px;}

.countNum {display:inline-block; width:86px; height:24px; vertical-align:top;}
.countNum >* {display:inline-block; vertical-align:top;}
.countNum input[type=text] {width:38px; height:14px; padding:5px 0 3px; margin:0 -5px; border-color:#b6b6b6; text-align:center; line-height:14px;}

h2.typeA {margin:60px 0 15px; font-size:18px; line-height:19px; font-family:'nsb'; color:#332f21;}
h2.typeA .fs {margin-left:10px; color:#828282; font-family:'ns';}
h2.typeA .fs em {color:#59621d;}
h2.typeB {margin:30px 0 15px; font-size:14px; line-height:15px; font-family:'nsb'; color:#332f21;}
h3.typeA {margin:30px 0 11px; font-size:18px; line-height:19px; font-family:'nsb'; color:#332f21;}

.bbsHead {margin-bottom:10px; text-align:right;}
.bbsHead:after {content:""; display:block; clear:both;}
.bbsHead p.fl {padding-left:10px;}
.bbsHead p.fl strong {color:#332f21;}
.bbsHead p.fl span {color:#59621d;}

.bbsList {width:100%; border-top:2px solid #828282; border-bottom:1px solid #d9d9d9; table-layout:fixed;}
.bbsList thead th {height:50px; border-bottom:1px solid #828282; text-align:center; font-family:'nsb'; color:#332f21; line-height:50px;}
.bbsList tbody th {padding:16px 0 15px; border-top:1px solid #d9d9d9; line-height:18px; text-align:center;} 
.bbsList tbody td {padding:16px 0 15px; border-top:1px solid #d9d9d9; border-left:1px solid #d9d9d9; line-height:18px; text-align:center;}
.bbsList tbody td.tit {padding-left:10px; padding-right:10px; text-align:left}
.bbsList tbody td .countNum {margin:-3px 0;}
.bbsList tbody td .countNum +.sizeS {min-width:auto; height:24px; vertical-align:middle;}
.bbsList tbody td .secret {padding-left:20px; background:url(/images/common/ico_secret.png) no-repeat 0 1px;}
.bbsList tbody td:first-child {border-left:0;}
.bbsList tbody tr:first-child th, .bbsList tbody tr:first-child td {border-top:0;}
.icoAlram {padding:0 13px !important; border-radius:13px;}
.icoAlram:before {content:""; display:inline-block; width:14px; height:15px; margin-right:2px; vertical-align:middle; background:url(/images/common/ico_common.png) no-repeat -10px 0;}
.bbsList .btn {margin:3px 0;}
.bbsList .btn +.btn {margin-top:-1px;}
.bbsList td .assess {display:inline-block;}

.bbsList.typeB {border-top-color:#59621d; border-bottom:2px solid #828282;}
.bbsList.typeB thead th {height:50px; line-height:50px; font-size:15px;}
.bbsList.typeB tbody th, .bbsList.typeB tbody td {padding:20px 0;}
.bbsList.typeB tbody td:not(.last) {border-left-width:0;}
.bbsList.typeB tbody td.tit {padding-left:20px;}
.bbsList.typeB colgroup +tbody tr:first-child {border-top:2px solid #828282;}

.bbsList.typeB tbody td.dimCell { text-align:left; position:relative; }
.bbsList.typeB tbody .dimCell .thumb { display: inline-block; vertical-align:  middle;width: 126px;height: 137px;border: 1px solid #ccc; }
.bbsList.typeB tbody .dimCell .cellWrap { display: inline-block; vertical-align:  middle; text-align: left; padding-left: 15px; }
.bbsList.typeB tbody .prdDim { box-sizing:border-box; position:absolute; top:0; left:0; width:100%; height:100%; background:#000; opacity:.7; text-align:center; }
.bbsList.typeB tbody .prdDim p { color:#fff; font-size:15px; line-height:167px; }

.bbsList.typeC tbody td {border-left-width:0;}

.bbsList.typeD tbody th, .bbsList.typeD tbody td {border-left-width:0; border-top-style:dotted;}

.bbsForm {width:100%; table-layout:fixed; border-top:2px solid #828282;}
.bbsForm tr {border-bottom:1px dotted #d9d9d9;}
.bbsForm tr .fs {line-height:13px; opacity:.7;}
.bbsForm th {padding:16px 0 16px 20px; font-family:'nsb'; color:#332f21; line-height:18px; vertical-align:top; text-align:left;}
.bbsForm th em {font-family:'ns'; color:#59621d;}
.bbsForm td {height:30px; padding:10px 0;}
.bbsForm td >* {vertical-align:middle;}
.bbsForm td input +label {margin-right:30px;}
.bbsForm td .text {font-size:12px;}
.bbsForm td p.text {margin-top:8px;}
.bbsForm td textarea {line-height:1.4em;}
.bbsForm td input[type=file] +input[type=file], .bbsForm td input[type=file] +input[type=hidden] +input[type=file] {margin-top:5px;} 
.bbsForm +.bbsForm {margin-top:20px;}

.bbsForm.typeB tr {border-bottom:1px solid #d9d9d9;}
.bbsForm.typeB th {border-right:1px solid #d9d9d9;}
.bbsForm.typeB td {padding-left:20px; line-height:23px;}
.bbsForm.typeB td +th {border-left:1px solid #d9d9d9;}

.bbsForm.typeC th {padding-left:30px; background:#f2f2f2;}
.bbsForm.typeC td {padding-left:20px;}

.bbsView {border-top:2px solid #828282; border-bottom:1px solid #d9d9d9;}
.bbsView .head {position:relative; padding:16px 130px 14px 33px; border-bottom:1px solid #828282;}
.bbsView .head h2 {font-family:'nsb'; font-size:15px; line-height:20px; color:#332f21; word-break:keep-all;}
.bbsView .head .date {position:absolute; right:33px; top:18px;}
.bbsView .content {min-height:200px; padding:40px; font-size:14px; line-height:20px; color:#939393;}

.pvnt {position:relative; margin-top:-1px; border-top:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9;}
.pvnt dt {position:absolute; left:0; display:inline-block; width:89px; padding:16px 0 14px; text-align:center; font-size:14px; line-height:20px; color:#332f21;}
.pvnt dt:after {content:""; position:absolute; right:0; top:50%; width:1px; height:16px; margin-top:-8px; background:#e5e5e5;}
.pvnt dd {padding:16px 130px 14px 120px; font-size:14px; line-height:20px; color:#828282; position:relative; }
.pvnt dd .date {position:absolute; right:33px; top:16px; font-size:13px;}
.pvnt dt:first-child+dd {border-bottom:1px dotted #d9d9d9;}

.cautionBox {padding:20px; background:#eeebe8;}
.caution > li {position:relative; padding-left:8px; line-height:22px; word-break:keep-all;}
.caution > li:before {content:""; position:absolute; left:0; top:10px; width:2px; height:2px; background:#59621d;}
.caution.typeB > li:before {display:none;}
p.caution {position:relative; padding-left:8px; font-size:14px; line-height:20px; word-break:keep-all;}
p.caution:before {content:""; position:absolute; left:0; top:6px; width:2px; height:2px; background:#59621d;}
p.caution +.bbsList, p.caution +.bbsForm, p.caution +form >.bbsList, p.caution +form >.bbsForm {margin-top:20px;}

.warningBox {padding:30px 20px; border-top:1px solid #b7b7b7; border-bottom:1px solid #b7b7b7; background:#f5f5f5;}
.warningBox h2 {padding-left:28px; line-height:18px; font-size:14px; font-weight:600; color:#332f21; background:url(/images/common/ico_warning.png) no-repeat 0 0;}
.warningBox >ul {margin-top:20px;}
.warningBox >ul >li {position:relative; padding-left:9px; margin-top:10px; line-height:1.6em;}
.warningBox >ul >li:before {content:""; position:absolute; left:0; top:8px; width:2px; height:2px; background:#666;}
.warningBox >ul >li ul {margin:10px 0 0 10px;}
.warningBox >ul >li li {position:relative; margin-top:4px; padding-left:9px; line-height:1.4em;}
.warningBox >ul >li li:before {content:""; position:absolute; left:0; top:8px; width:4px; height:1px; background:#666;}

.opt {position:relative; padding-left:13px; margin-top:3px; font-family:'ns'; font-size:12px; color:#939393;}
.opt:before {content:""; position:absolute; left:1px; top:3px; width:6px; height:6px; border-left:1px dotted #59621d; border-bottom:1px dotted #59621d;}

.agreeArea {padding:10px 10px 10px 20px; border:1px solid #d9d9d9; line-height:20px;}
.agreeArea .scr {height:100%;}

.assess {overflow:hidden; width:87px; height:14px; background:url(/images/common/ico_assess.png) no-repeat 0 0;}
.assess span {overflow:hidden; display:block; width:0; height:14px;}
.assess span.assess1 {width:15px;}
.assess span.assess2 {width:33px;}
.assess span.assess3 {width:51px;}
.assess span.assess4 {width:69px;}
.assess span.assess5 {width:87px;}
.assess img {margin-top:-14px;}

.search {margin-bottom:40px; text-align:center;}
.search select {height:40px; vertical-align:middle;}
.search input[type=text] {padding-top:5px; padding-bottom:5px; vertical-align:middle;}
.search a {min-width:110px; vertical-align:middle;}
.search:first-child {margin-top:80px;}

span.file {position:relative; display:inline-block; overflow:hidden; min-width:1px; width:70px; padding:0; margin-left:-5px; cursor:pointer; vertical-align:top;}
span.file input[type=file]	{position:absolute; left:0; top:0; display:inline-block; width:70px; height:30px; padding:0; border:none; cursor:pointer; vertical-align:top; background:none; opacity:0; filter:alpha(opacity=0);}
.fileBox +.fileBox {margin-top:5px;}

#popWrap h1 {height:33px; padding:15px 0 0 20px; border-bottom:2px solid #59621d; font-family:'nsb'; font-size:20px; line-height:21px; color:#332f21;}
#popCont {padding:30px;}
.popup h2.typeA {margin:30px 0 13px; font-size:16px; font-family:'ns';}
.popup h2.typeA:before {content:""; display:inline-block; margin:-1px 7px 0 4px; width:2px; height:2px; vertical-align:middle; background:#59621d;}
.popup h2.typeA:first-child {margin-top:0;}
.popup h2.typeB {margin:30px 0 13px; font-size:16px; line-height:17px; font-family:'nsb'; color:#332f21;}
.popup h2.typeC {margin:20px 0 10px; font-size:14px; line-height:15px; font-family:'nsb'; color:#332f21;}
.popup .bbsForm.typeB {border-top-width:1px;}
.popup .bbsForm.typeB th {padding-left:10px;}
.popup .bbsForm.typeB td {padding-left:10px;}
.popup .bbsList {border-top-width:1px;}
.popup .bbsList thead th {height:40px; line-height:40px;}
.popup p.text {margin-bottom:20px; font-family:'nsb'; font-size:14px; color:#332f21;}
.popup p.textBottom {margin-top:20px; margin-bottom:0;}
.popup .btnArea {margin-top:20px;} 
/*.popup .btnArea .sizeL {min-width:150px;}*/

.mainPop {display:none; position:absolute; z-index:105;}
.mainPop img {width:100%;}
.mainPop .popFoot {position:absolute; bottom:0; left:0; width:100%; height:25px; line-height:25px; background:#000;}
.mainPop .popFoot a {display:block; color:#fff; padding:0 3%; font-size:12px;}

.popWin {position:relative; width:100%; height:100%;}
.popWin .popFoot {position:fixed; bottom:0; left:0; width:100%; height:25px; line-height:25px; background:#000;}
.popWin .popFoot a {display:block; color:#fff; padding:0 3%; font-size:12px;}

ul.caption {margin-top:10px;}
ul.caption li {display:block; padding-left:10px;  margin-bottom:5px;font-size:12px; color:#846f64; text-indent:-10px; line-height:16px;}
ul.caption li.color {color:red;}

.icoMore {position:relative; padding-right:20px;}
.icoMore:before, .icoMore:after {content:""; position:absolute; right:0; top:8px; width:20px; height:3px; background:#575650;}
.icoMore:before {right:9px; top:0; width:3px; height:20px; margin:0}

.icoFold {position:relative; padding-right:30px;}
.icoFold:before, .icoFold:after {content:""; position:absolute; right:0; top:50%; width:15px; height:2px; margin-top:-7px; background:#111; transition:all 0.2s;}
.icoFold:before {right:6px; transform:rotate(43deg); transform-origin:0;}
.icoFold:after {transform:rotate(-43deg); transform-origin:100%;}
.icoFold.on:before {margin-top:0 !important; transform:rotate(-43deg);}
.icoFold.on:after {margin-top:0 !important; transform:rotate(43deg);}

.vertical img, img.vertical {width:auto !important; max-width:1024px !important; height:100% !important;}

.defaultSelect {visibility:hidden;}
.eui_defaultSelect {display:inline-block; position:relative; z-index:10; text-align:left; font-weight:normal;}
.eui_defaultSelect .euiSelectMain {height:32px; cursor:pointer; padding:0 24px 0 0; font-size:15px; color:#353535; text-align:right; background:url(/images/common/ico_arrow.png) no-repeat 100% 50% / 14px;}
.eui_defaultSelect .euiSelectMain .euiSelectTitle {line-height:32px;}
.eui_defaultSelect .euiSelectMain.disabled {cursor:default; background:#eee;}
.eui_defaultSelect .euiSelectMain.disabled .euiSelectTitle {color:#aaa;}
.eui_defaultSelect .euiSelectList {display:none; position:absolute; top:32px; overflow-y:auto; width:100%; max-height:238px; border:1px solid #ddd; background:#fff;}
.eui_defaultSelect .euiSelectList li a {display:block; text-align:center; line-height:32px; font-size:15px; color:#353535;}
.eui_defaultSelect .euiSelectList li a:hover {background:#f5f5f5;}
.eui_defaultSelect.eui_on .euiSelectMain:before	{transform:rotate(0);}	

.messageLayer {display:none; position:fixed; left:calc(50% - 200px); top:calc(50% - 30px); z-index:500; overflow:hidden; width:400px; line-height:60px; text-align:center; font-size:16px; color:#fff; background:rgba(89,98,29,.9);}
