.mo_only{display:none !important}

.title{font-weight:bold;font-family:'Noto Sans KR',sans-serif}
.title.h1{line-height:75px;font-size:60px}
.title.h3{line-height:55px;font-size:40px}

.des{font-family:'Noto Sans KR',sans-serif}
.des.h3{line-height:45px;font-size:30px;font-weight:300}

span.g_alt{font-size:1px;opacity:0;text-indent:-99999px;z-index:-1}

.popup_g{overflow-y:auto;display:none;position:fixed;left:0;top:0;width:100vw;height:100vh;z-index:9999999999}
.dim_g{width:100%;height:100%;background:rgba(0,0,0,.6);z-index:999999;cursor:pointer}
.popup_g .popup_wrap{overflow:hidden;position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);width:100%;max-width:60vw;height:100%;max-height:90vh;background:#fff;z-index:9999999}
.popup_g .popup_wrap .popup_header{padding:30px 30px 25px;width:100%}
.popup_g .popup_wrap .popup_header .project_year{line-height:25px;font-size:18px;font-weight:600}
.popup_g .popup_wrap .popup_header .project_title{line-height:43px;font-size:30px;font-weight:600}
.popup_g .popup_wrap .popup_body{overflow:hidden;overflow-y:auto;width:100%;height:calc(100% - 50px)}
.popup_g .popup_wrap .popup_body .popup_content{overflow-Y:auto;max-height:80vh}
.popup_g .popup_wrap img{width:100%;height:auto}

.popup_g.popup_allmenu{min-width:1600px;background:#fff}
.popup_g.popup_allmenu .popup_wrap{margin:0 auto;max-width:1600px;height:100%}
.popup_g.popup_allmenu .popup_wrap .popup_header{position:relative;padding:0;height:59px}
.popup_g.popup_allmenu .popup_wrap .popup_header .allmenu_logo{display:inline-block;width:143px;height:43px;background:url('../image/sub_logo.png') center no-repeat}
.popup_g.popup_allmenu .popup_wrap .popup_header .btn_close{position:absolute;right:0;top:50%;transform:translateY(-50%);padding-left:24px;line-height:20px;font-size:18px;background:url('../image/icn_close.png') left center no-repeat;background-size:14px}

.popup_wrap.popup_hotline{max-width:800px !important;height:auto;border-radius:20px}
.popup_wrap.popup_hotline .popup_header{position:relative;padding:0;height:50px}
.popup_wrap.popup_hotline .popup_header .btn_close{position:absolute;right:30px;top:30px;width:15px;height:15px;background:url('../image/icn_close.png') center no-repeat}
.popup_wrap.popup_hotline .popup_body{padding:0 50px 50px;height:auto}
.popup_wrap.popup_hotline .popup_body .terms_title{display:block;margin-top:15px;line-height:27px;font-size:24px;font-weight:600}

.ul_dot{padding-left:12px;list-style:disc;list-style-type:disc}
.ul_dot li{line-height:21px;font-size:18px;list-style:disc;}

.allmenu_tab{position:relative}
.allmenu_tab .tabContent_wrap{display:inline-block;float:left;width:32%;line-height:40px;text-align:center}
.allmenu_tab .tabContent_wrap + .tabContent_wrap{margin-left:2%}
.allmenu_tab .tabContent_wrap input[type='radio']{display:none}
.allmenu_tab .tabContent_wrap label{display:none}
.allmenu_tab .tabContent_wrap .tabContent_item{display:inline-block;width:100%;text-align:left}
.allmenu_tab .tabContent_wrap input[type='radio']:checked ~ label{background-color:#ccc}
.allmenu_tab .tabContent_wrap input[type='radio']:checked ~ .tabContent_item{display:block}

.tabContent_title{margin-top:54px}
.tabContent_title p{line-height:20px;font-size:16px}
.tabContent_title b{display:block;margin-top:20px;line-height:23px;font-size:20px;font-weight:600}

.tabContent_item{line-height:0;font-size:0}
.tabContent_item .groupMenu_title{position:relative;margin-top:30px;padding-bottom:16px;line-height:19px;color:#AAAF37;font-size:16px;font-weight:600}
.tabContent_item .groupMenu_title:after{content:'';position:absolute;left:0;bottom:-1px;width:100px;height:2px;background-color:#AAAF37}
.tabContent_item .groupMenu_list{border-top:1px solid #ddd}
.tabContent_item .groupMenu_list li{display:inline-block;margin-top:15px;width:25%;line-height:19px;font-size:16px}
.tabContent_item .groupMenu_list.col3 li{width:33.33%}

.textbox_g{width:100%;border:1px solid #ddd;border-radius:10px}

.section_wrap{width:100%;height:100vh}

.grid_wrap{display:grid}

.flex_wrap{display:flex}

.top_wrap{margin:20px auto 0}
.top_wrap .page_title{display:inline-block;line-height:19px;color:#777;font-size:16px}
.top_wrap .navi_wrap span{display:inline-block;position:relative;line-height:19px;color:#777;font-size:16px}
.top_wrap .navi_wrap span + span{margin-left:25px}
.top_wrap .navi_wrap span + span:before{content:'';display:block;position:absolute;left:-15px;top:4px;width:5px;height:10px;background:url('../image/icn_naviArrow.png') center no-repeat}

.box_wrap{margin:60px auto 0;padding:50px;border-radius:20px;box-shadow:0 0 10px rgba(0,0,0,.1)}
.box_wrap.box1080{width:1080px}
.box_wrap.box800{width:800px}
.box_wrap .box_title{line-height:27px;font-size:24px;font-weight:600;text-align:center}
.box_wrap .box_subtitle{line-height:22px;font-size:20px;font-weight:600;text-align:center}

.btn_submit{border-radius:10px;line-height:50px;color:#fff;font-size:18px;font-weight:600;background-color:#36880A;text-align:center}
.btn_prev{border:1px solid #36880A;border-radius:20px;line-height:50px;color:#36880A;font-size:18px;font-weight:600;background-color:#fff;text-align:center}
.btn_line{border:1px solid #36880A;border-radius:20px;line-height:50px;color:#36880A;font-size:18px;font-weight:600;background-color:none;text-align:center}
.btn_line.btn_gray{border-color:#ddd;color:#777}
.btn_submit.btn_gray{border-color:#777;color:#fff;background-color:#777}
.btn_submit.btn_disabled{border-color:#ddd;color:#fff;background-color:#ddd}
.btn_disabled{color:#fff;background-color:#ddd}
.btn_h40{border-radius:10px;line-height:40px}
.btn_small{border-radius:10px;line-height:40px;font-size:16px}

.btn_reset{padding-left:19px;line-height:19px;color:#777;font-size:16px;background:url('../image/icn_reset.png') left center no-repeat}

.btn_text{border-bottom:1px solid #777;line-height:19px;color:#777;font-size:16px}

.swiper-slide{display:flex;align-items:center;justify-content:center;font-size:22px;color:#fff;background-size:cover}

.swiper-button-prev, .swiper-button-next{width:81px !important;height:81px !important;border-radius:100%;background-color:rgba(255,255,255,.8) !important}
.swiper-button-prev:after, .swiper-button-next:after{color:#111 !important;font-size:29px !important}

.footer_g{min-width:1600px;height:208px;background:#777777}
/* .footer_g{width:100%;height:208px;background:#777;} */
/* .footer_wrap{margin:0 auto;padding:1.7% 0;width:100%;max-width:1600px;height:100%;max-height:20%} */
.footer_wrap{margin:0 auto;padding:1.7% 0;width:100%;max-width:1600px;height:100%;max-height:20%}
.footer_wrap .footer_group_mo{display:none}
.footer_wrap .fotter_logo{width:138px}
.footer_wrap .footer_info{margin-left:4%;width:668px;line-height:16px;color:#fff;font-size:12px}
.footer_wrap .footer_info * {color:#fff; font-weight: 300;}
.footer_wrap .footer_info > div + div{margin-top:20px}
.footer_wrap .footer_info .companyLine > p{position:relative;display:inline-block}
.footer_wrap .footer_info .companyLine > p + p{margin-left:16px}
.footer_wrap .footer_info .companyLine > p + p:before{content:'';position:absolute;left:-9px;top:2px;width:1px;height:10px;background:#fff}
.footer_wrap .footer_info .companyLine > p > span{position:relative}
.footer_wrap .footer_info .companyLine > p > span + span{margin-left:16px}
.footer_wrap .footer_info .companyLine > p > span + span:before{content:'';position:absolute;left:-9px;top:2px;width:1px;height:10px;background:#fff}
.footer_wrap .footer_info .info_link a{display:inline-block}
.footer_wrap .footer_info .info_link a + a{margin-left:10px}
.footer_wrap .footer_btn{padding:12px 35px;margin-left:2%;width:670px}
.footer_wrap .footer_btn > div{display:inline-block;padding:31px 20px;width:318px;height:108px;border-radius:20px;background:#333}
.footer_wrap .footer_btn > div + div{margin-left:1.4%;padding:13px 20px}
.footer_wrap .footer_btn .btn_wrap > p{display:inline-block;margin:18px 0;line-height:23px;color:#fff;font-size:16px;font-weight:400;vertical-align:top}
.footer_wrap .footer_btn .btn_wrap > div{display:inline-block;margin-left:25px}
.footer_wrap .footer_btn .btn_wrap .btn_and{display:inline-block;padding-top:74px;width:70px;line-height:14px;color:#fff;font-size:12px;background:url('../image/qr_and.png') top center no-repeat;background-size:70px 70px;text-align:center;position: relative;vertical-align:top}
/* .footer_wrap .footer_btn .btn_wrap .btn_and:after{position: absolute;right: -15px; bottom: -1px;background: url(../image/arrow_active.png) center no-repeat;background-size: 50%; content: "";width: 15px;height: 15px;} */
.footer_wrap .footer_btn .btn_wrap .btn_ios{display:inline-block;padding-top:74px;margin-left:10px;width:70px;line-height:16px;color:#fff;font-size:12px;background:url('../image/qr_ios.png') top center no-repeat;background-size:70px 70px;text-align:center;position: relative;vertical-align:top}
/* .footer_wrap .footer_btn .btn_wrap .btn_ios:after{position: absolute;right: 4px; bottom: -1px;background: url(../image/arrow_active.png) center no-repeat;background-size: 50%; content: "";width: 15px;height: 15px;} */
.footer_wrap .footer_contact{padding:31px 18px;line-height:19px;color:#fff;font-size:16px}
.footer_wrap .footer_contact > div + div{margin-top:10px}
.footer_wrap .footer_contact b{display:inline-block;width:120px;font-weight:400;letter-spacing:-0.5px;color:#fff;}
.footer_wrap .footer_contact span{display:inline-block;margin-left:3px;padding-left:19px;background-repeat:no-repeat;background-position:left center;color:#fff;font-weight: 300;}
.footer_wrap .footer_contact .contact_cs span{background-image:url('../image/icn_cs.png')}
.footer_wrap .footer_contact .contact_res span{background-image:url('../image/icn_res.png')}

/* DatePicker */
.ui-datepicker{padding:30px 20px !important;width:400px !important;height:410px !important;border:none !important;border-radius:20px !important;background:url('../image/calInfoShow.png') bottom 30px center no-repeat !important;background-color:#fff !important;box-shadow:0 0 10px rgba(0,0,0,.16) !important}
.ui-datepicker-header{border:0 !important;background:none !important}
.ui-datepicker-header .ui-datepicker-title{display:flex !important;flex-direction:column;line-height:0 !important;font-size:0 !important}
.ui-datepicker-header .ui-datepicker-title > span{display:block !important;line-height:20px !important;font-size:16px !important}
.ui-datepicker-header .ui-datepicker-title .ui-datepicker-year{order:1}
.ui-datepicker-header .ui-datepicker-title .ui-datepicker-month{font-weight:600 !important;order:2}
.ui-datepicker-calendar thead{border-bottom:1px solid #ddd !important}
.ui-datepicker th{padding:10px 0 !important}
.ui-datepicker th span{display:block !important;line-height:16px !important;font-size:14px !important;font-weight:500 !important}
.ui-datepicker-calendar tbody td{padding:2px 0 1px !important}
.ui-datepicker-calendar tbody tr:first-child td{padding-top:12px !important;}
.ui-datepicker-calendar tbody td a{display:inline-block !important;margin:0 auto;padding:0 !important;width:36px !important;border:0 !important;border-radius:100% !important;line-height:36px !important;color:#111 !important;font-size:16px !important;background:none !important;text-align:center !important}
.ui-datepicker-calendar tbody td.ui-datepicker-unselectable span{display:inline-block !important;margin:0 auto;padding:0 !important;width:36px !important;border:0 !important;border-radius:100% !important;line-height:36px !important;color:#ddd !important;font-size:16px !important;background:none !important;text-align:center !important}
.ui-datepicker-calendar tbody td a.ui-state-highlight{background:#D9E300 !important}
.ui-datepicker-calendar tbody td a.ui-state-active{color:#fff !important;background:#36880A !important}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{display:none !important}
.ui-datepicker .ui-datepicker-buttonpane button{position:absolute;right:10px;top:10px;width:20px !important;height:20px;border:0;line-height:0;font-size:0;background:url('../image/icn_close.png') left center no-repeat;background-size:14px}

/* PC , 테블릿 가로 (해상도 1200px ~ 1600px)*/ 
@media all and (min-width:1200px) and (max-width:1600px) { 
    
} 

/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) { 

} 

/* 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) { 

} 

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) {
    .mo_only{display:block !important}
    .pc_only{display:none !important}

    .footer_g{min-width:360px;height:fit-content}

    .footer_wrap{max-height:unset;text-align:center}
    .footer_wrap *{color:#fff;}
    .footer_wrap.flex_wrap{display:block;padding:50px 20px}
    .footer_wrap .footer_group_mo{display:block;padding:20px;border-radius:20px;background:#333}
    .footer_wrap .footer_group_mo .groupWrap + .groupWrap{margin-top:15px;padding-top:15px;border-top:1px solid #fff}
    .footer_wrap .footer_group_mo .groupLine{position:relative;padding-left:130px;line-height:0;color:#fff;font-size:0}
    .footer_wrap .footer_group_mo .groupLine + .groupLine{margin-top:10px}
    .footer_wrap .footer_group_mo .groupLine span{display:block;position:absolute;left:0;top:0;width:130px;line-height:16px;font-size:14px;font-weight:600;text-align:left;}
    .footer_wrap .footer_group_mo .groupLine p{position:relative;padding-left:18px;line-height:16px;font-size:14px;text-align:left}
    .footer_wrap .footer_group_mo .groupLine p:before{content:'';display:block;position:absolute;left:0;top:50%;transform:translateY(-50%);width:15px;height:15px;background-repeat:no-repeat;background-position:center}
    .footer_wrap .footer_group_mo .groupLine.icn_cs p:before{background-image:url('../image/icn_footer_cs.png')}
    .footer_wrap .footer_group_mo .groupLine.icn_reserv p:before{background-image:url('../image/icn_footer_reserv.png')}
    .footer_wrap .footer_group_mo .groupLine.icn_and p:before{background-image:url('../image/icn_footer_and.png')}
    .footer_wrap .footer_group_mo .groupLine.icn_ios p:before{background-image:url('../image/icn_footer_ios.png')}
    .footer_wrap .fotter_logo{margin:20px 0;width:100%}
    .footer_wrap .footer_info{margin-left:0;width:100%;line-height:14px;font-size:10px}
    .footer_wrap .footer_info .companyLine > p{display:block}
    .footer_wrap .footer_info .companyLine > p + p{margin-left:0}
    .footer_wrap .footer_info .companyLine > p + p:before{display:none}

    .popup_g .popup_wrap{width:calc(100vw - 40px)}

    .popup_g.popup_allmenu{min-width:100vw}
    .popup_g.popup_allmenu .popup_wrap{position:static;transform:none;margin:0;padding:30px 20px;width:100%;max-width:100vw;height:auto}
    .popup_g.popup_allmenu .popup_wrap .popup_header .allmenu_logo{width:120px;height:37px;background-size:120px auto}
    .popup_g.popup_allmenu .popup_wrap .popup_header .btn_close{top:30%;width:18px;height:18px;font-size:0;background-image:url('../image/icn_close_mo.png')}
    .popup_g.popup_allmenu .popup_wrap .popup_body{height:116%}
    .allmenu_tab .tabContent_wrap + .tabContent_wrap{margin-left:0}
    .allmenu_tab .tabContent_wrap{display:inline-block;float:left;width:33.33%;line-height:40px;text-align:center}
    .allmenu_tab .tabContent_wrap input[type='radio']{display:none}
    .allmenu_tab .tabContent_wrap label{display:block;width:100%;height:40px;border:1px solid #DDDDDD;line-height:40px}
    .allmenu_tab .tabContent_wrap .tabContent_item{display:none;position:absolute;left:0;top:40px;width:100%;text-align:left}
    .allmenu_tab .tabContent_wrap input[type='radio']:checked ~ label{border:1px solid #707070;background-color:#fff}
    .allmenu_tab .tabContent_wrap input[type='radio']:checked ~ .tabContent_item{display:block}
    .tabContent_item .groupMenu_list li{width:33.33%;font-size:14px}

    .box_wrap{padding:0 20px;box-shadow:none}
    .box_wrap.box1080{width:100%}
    .box_wrap.box800{width:100%}
    .box_wrap.w1080{width:100% !important}

    .box_resCom .greenBox_g{padding:20px 10px !important;width:100% !important;text-align:center}

    .conLine.fl{float:none}
    .conLine.fr{float:none}

    .top_wrap{display:none}
} 

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
    
}